<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4685339162-o4ghclm41kl1v3r58fh1v01378o8gin1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4685339162-o4ghclm41kl1v3r58fh1v01378o8gin1</string>
	<key>API_KEY</key>
	<string>AIzaSyAp2G_5rrQ0sq7AW5YhyZEhBRxb_MFMgCU</string>
	<key>GCM_SENDER_ID</key>
	<string>4685339162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWallet</string>
	<key>PROJECT_ID</key>
	<string>my-universal-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>my-universal-wallet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4685339162:ios:96dd4db484f48a2ebe8fa3</string>
</dict>
</plist>